ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #eeeeee;
	background-color: #ffffff;
}
li {
	float: left;
}
li a {
	list-style-type: none;
	display: block;
	color: #666666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a: hover: not(.active) {
	background-color: #dddddd;
}